<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Entry Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Manual Entry</h1>
    <form id="manual_entry_form" action="/process_user_location" method="post">
        <div class="input-container">
            <label for="street_address">Street Address: </label>
            <input type="text" name="street_address" id="street_address">
        </div>
        <div class="input-container">
            <label for="city">City: </label>
            <input type="text" name="city" id="city">
        </div>
        <div class="input-container">
            <label for="state">State: </label>
            <input type="text" name="state" id="state">
        </div>
        <div class="input-container">
            <label for="zip_code">Zip Code: </label>
            <input type="text" name="zip_code" id="zip_code">
        </div>
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lng" name="lng">
        <input type="button" value="Submit Location" onclick="findLatLngManualEntry()">
    </form>
    <a href="/">Home</a>
</body>
<script src="/static/script.js"></script>
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApYkTOlVGaCHsdFi6DFG3JwH4y272RH1M&v=weekly"
    defer
></script>
</html>