<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing User Location</title>
</head>
<body>
    <h1>Testing User Location</h1>
    <a href="/">BACK</a>
    <form action="" method="post">
        <button><a href="">Manual Entry</a></button>
        <input type="hidden" name="user_location">
        <input type="button" value="Use My Location">
    </form>
</body>
</html>