<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing User Location</title>
</head>
<body>
    <h1>Testing User Location</h1>
    <a href="/">BACK</a>
    <form id="user_location_form" action="/process_user_location" method="post">
        <button><a href="/testing_manual_entry">Manual Entry</a></button>
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lng" name="lng">
        <input type="button" value="Use My Location" onclick="getUserLocation()">
    </form>
</body>
<script src="/static/script.js"></script>
</html>